
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/gcs.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Release Manager && C++ Developper</strong> - Developed CCTV projects and delivered CCTV's services product to Japan customer.                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/firmsone.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>CPO && Sr. Sp. Ruby On Rails</strong> - Write blogs, build 50 shades grey contract and learn draw naked pictures.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/zigexn.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>Ruby On Rails developer</strong> - Developed arubaitoex and Jobs product of Zigexn co-operation.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/lcl.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>SR. SP. Ruby On Rails and Web Developper</strong> - Developed for smartday project.
                </div>
              </div>
            </div>
          </div>
