
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/hcmus.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated Physics from University of Science with a BS in Computer Science.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/maryland.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Specialist Android and Cloud Computing Certificates <strong>verified by coursera</strong>.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'about/johns_hopkins.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Specialist Ruby On Rails Developer Certificates <strong>verified by coursera</strong>.
                </div>
              </div>
            </div>
          </div>
