<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Future Office Address</h3>

        <p>Tầng 24 Jamila Khang Điền, Phú Hữu, District 9, Ho Chi Minh, Vietnam</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "84938112266" %></p>

        <h3>Email</h3>

        <p><a href="mailto:quangvinh.1305@gmail.com?subject=FirmsOneContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62708.67380073545!2d106.70611940056972!3d10.78892453207284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317526a400000001%3A0xd8c239d1ac6c98e7!2zQ8SDbiBo4buZIEphbWlsYSBLaGFuZyDEkGnhu4Fu!5e0!3m2!1sen!2s!4v1507041215589" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>